

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8; /* Light background color */
    color: #333; /* Dark text color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for header */
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #333; /* Dark text color */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333; /* Dark text color */
    text-decoration: none;
}

form {
    display: flex;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #333; /* Dark button background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px 0;
}

h2 {
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe-card {
    width: calc(33.33% - 20px);
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for card */
    overflow: hidden;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.recipe-card h3 {
    padding: 10px;
    font-size: 1.2rem;
}

.recipe-card p {
    padding: 0 10px 10px 10px;
    color: #666; /* Slightly darker text color */
}

.recipe-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Dark button background color */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
}

footer {

    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    color: #333; /* Dark text color */
    padding: 20px 0;
    text-align: center;
}
