body {
    font-family: Arial, sans-serif;
    background-image: url('../images/index_3.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    padding: 10px;
    text-align: center;
}

.sign-up-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px; /* Set maximum width for the form */
    margin: 30px auto; /* Center the form horizontally */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    text-align: left; /* Align labels to the left */
}

input {
    width: 100%;
    max-width: 300px; /* Limit the input width */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    max-width: 300px; /* Limit the button width */
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1f6e25;
}
