{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About RecipeRise</title>
  <link rel="stylesheet" href="{% static 'styles/common.css' %}">
</head>
<body>
    <header>
        <h1>About RecipeRise</h1>
      </header>
      <main>
        <section class="about-section">
          <p>At RecipeRise, we believe in the power of culinary exploration. Our platform is more than just a recipe repository; it's a culinary journey tailored to your tastes and lifestyle. We're here to inspire you to create, innovate, and elevate your cooking experience.</p>
          <p>Our team of passionate food enthusiasts is dedicated to curating the finest recipes from around the globe. From classic comfort foods to daring culinary adventures, we've got something for everyone.</p>
          <p>What sets RecipeRise apart is our cutting-edge recommendation system. Powered by machine learning algorithms, we analyze your preferences, dietary restrictions, and cooking habits to provide personalized recipe suggestions that ignite your creativity.</p>
          <p>Join us on this gastronomic adventure as we reimagine the art of cooking in the digital age. Let RecipeRise be your companion in the kitchen, guiding you to new culinary heights with every dish.</p>
        </section>
      </main>
  <footer>
    <p>&copy; 2024 RecipeRise. All rights reserved.</p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'scripts/common.js' %}"></script>
</body>
</html>
