{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecipeRise</title>
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>
  <header>
    <div class="container">
      <h1>RecipeRise</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="{% url 'recipes' %}">Recipes</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="hero">
    <div class="container">
      <h2>Welcome to RecipeRise</h2>
      <p>Explore mouthwatering recipes from around the world</p>
      <a href="#" class="btn">Explore Recipes</a>
    </div>
  </section>

  <section class="featured-recipes">
    <div class="container">
      <h2>Featured Recipes</h2>
      <div class="recipe-grid">
        <div class="recipe-box">
            <h3>Quick & Easy Recipes</h3>
            <div class="recipe-items">
                {% for recipe in quick %}
                <div class="recipe-card">
                  <div class="recipe-img">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <a href="#" class="btn">View Recipe</a>
                  </div>
                  <div class="recipe-title">
                    <h3>{{ recipe.title }}</h3>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="recipe-box">
            <h3>Healthy Recipes</h3>
            <div class="recipe-items">
              {% for recipe in quick %}
              <div class="recipe-card">
                <div class="recipe-img">
                  <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                  <a href="#" class="btn">View Recipe</a>
                </div>
                <div class="recipe-title">
                  <h3>{{ recipe.title }}</h3>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="recipe-box">
            <h3>Vegetarian Recipes</h3>
            <div class="recipe-items">
              {% for recipe in quick %}
              <div class="recipe-card">
                <div class="recipe-img">
                  <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                  <a href="#" class="btn">View Recipe</a>
                </div>
                <div class="recipe-title">
                  <h3>{{ recipe.title }}</h3>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 RecipeRise. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>
