{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecipeRise Sliding Background</title>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
  <div class="sliding-bg-container">
    <div class="sliding-bg">
	    <div class="test">
        <h2>Welcome to RecipeRise – your culinary adventure awaits! 🍽️✨</h2>
        <p>
          Discover an array of mouthwatering recipes curated by passionate food enthusiasts worldwide. From quick weekday meals to gourmet delights, our platform offers something for every palate and occasion.
          
          Join our vibrant community of food lovers to swap tips, share recipes, and embark on flavorful journeys together. Let's explore the world of cooking, one dish at a time!
        </p>
	    </div>
    </div>
  </div>
</body>
</html>