{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecipeRise Sliding Background</title>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
  <div class="mask">
    <div class="container">
      <h2>Welcome to <span class="text-gradient">RecipeRise</span> – your culinary adventure awaits!</h2>
    <p>
      Explore a variety of delicious recipes curated by food enthusiasts worldwide. From quick weekday meals to gourmet delights, our platform has something for every palate. Join our community to swap tips, share recipes, and embark on flavorful journeys together.
    </p>
    <div class="login-options">
      <a href="{% url 'sign_in' %}" class="login-button">Log In</a>
      <a href="{% url 'home' %}" class="login-button">Continue as Guest</a>
    </div>
  </div>
</body>
</html>
